<div class='maincontainer'>
    <div *ngIf='user'>
        <h1>{{user.uid}}</h1>
    </div>
    <!--Basic textarea-->
    <div class='card newbox'>
        <div class='card-body'>
            <div class="md-form postInput">
                <input #box type="text" id="form7" class="md-textarea form-control" (keyup.enter)="newPost(box.value);box.value=''" mdbInput maxlength="140">
                <label for="form7">Create New Post</label>
            </div>
            <div class='characterCount'>{{ 140 - box.value.length }}</div>
            <a mdbBtn floating="true" size="lg" gradient="red" mdbWavesEffect (click)="newPost(box.value);box.value=''" class='postButton'>
                    <mdb-icon fas icon="plus"></mdb-icon>
            </a>
        </div>
    </div>
    
    <div class='postcontainer'>
        <div class='spacer'></div>
        <div class='card postCard' *ngFor='let post of posts '>
            <div class='card-title titleText' style="padding:5px;">
                {{ post.uid }}
            </div>
            <div class='card-body postItem'>
                <div class='voteContainer'>
                    <a (click)='votePost(post, 1)'><i [className]="votedBool(post, 1) ? 'material-icons md-dark md-active' : 'material-icons md-dark md-inactive'">arrow_upward</i></a><br/>
                    {{ sumVotes(post) }}<br/>
                    <a (click)='votePost(post, -1)'><i [className]="votedBool(post, -1) ? 'material-icons md-dark md-active' : 'material-icons md-dark md-inactive'">arrow_downward</i></a>
                    
                </div>
                <div class='postText' (click) = 'selectPost(post)'>
                        {{ post.text }}
                </div> 
            </div>
        </div>
    </div>
</div>
