<div class='postcontainer'>
    <div *ngIf='user'>
        <h1>{{user.uid}}</h1>
    </div>
    <!--Basic textarea-->
    <div>
        <div class="md-form postInput">
            <textarea #box type="text" id="form7" class="md-textarea form-control" mdbInput></textarea>
            <label for="form7">Create New Post</label>
        </div>
        <a mdbBtn floating="true" size="lg" gradient="red" mdbWavesEffect (click)="newPost(box.value)" class='postButton'>
                <mdb-icon fas icon="plus"></mdb-icon>
        </a>
    </div>
    
    <div class='postLine' *ngFor='let post of posts '>
        <div class='voteContainer'>
            <mdb-icon fas icon='arrow-up'></mdb-icon><br/>
            {{ post.votes }}<br/>
            <mdb-icon fas icon='arrow-down'></mdb-icon>
        </div>
        <div class='postText' (click) = 'selectPost(post)'>
                {{ post.text }}
        </div> 
    </div>

</div>
