
<img class='logo' src='assets/img/logo.png'>

<!-- Jumbotron -->


<div class="jumbotron text-center blue-grey lighten-5">

    <!-- Title -->
    <h2 class="card-title h2">GoatYak</h2>
  
    <!-- Subtitle -->
    <p class="indigo-text my-4 font-weight-bold">Bringing back anonymous social networking</p>
  
    <!-- Grid row -->
    <div class="row d-flex justify-content-center">
  
      <!-- Grid column -->
      <div class="col-xl-7 pb-2">
  
        <p class="card-text">GoatYak strives to foster open discussion and expression of ideas through a new social platform. It is currently restricted to USNA only! Not affiliated in any way with DoD, USN, USNA, or the United States Government. Ideas expressed on this service are the responsibility of the user</p>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-4 pb-2">
  
    <button mdbBtn gradient="blue" rounded="true" mdbWavesEffect [routerLink]= "['']">Let's Go! <mdb-icon far icon="gem" class="ml-1"></mdb-icon></button>
  
  </div>
  <!-- Jumbotron -->